{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <div class="container">
        <div class="about-section">
            <div class="about-header">
                <h2>Welcome to Barbych Bio!</h2>
                <p class="about-description">🌿 Discover the natural beauty secrets of Morocco with Barbych Bio! We're dedicated to crafting high-quality, organic products inspired by the bountiful nature of Morocco. Our mission is to promote wellness and health through eco-friendly and sustainable products.</p>
            </div>
            <div class="about-details">
                <div class="about-detail">
                    <div class="icon">🌱</div>
                    <div class="text">
                        <p>At Barbych Bio, we believe in harnessing the power of nature to nurture your skin, hair, and body. From exotic plants to essential oils, our formulations are designed to nourish, hydrate, and revitalize.</p>
                    </div>
                </div>
                <div class="about-detail">
                    <div class="icon">🌺</div>
                    <div class="text">
                        <p>What sets Barbych Bio apart is our commitment to quality and authenticity. Each product is carefully crafted using traditional artisanal methods combined with modern eco-conscious practices. From ingredient sourcing to production, we ensure that every step is carried out with utmost care and respect for nature.</p>
                    </div>
                </div>
                <div class="about-detail">
                    <div class="icon">🌟</div>
                    <div class="text">
                        <p>Whether you're looking for skincare, haircare, or wellness solutions, we've got you covered at Barbych Bio. Explore our range of organic products, discover the benefits of natural ingredients, and join us on our journey towards a healthier, more sustainable life.</p>
                    </div>
                </div>
            </div>
            <div class="about-footer">
                <p>✨ Welcome to the world of Barbych Bio, where beauty meets nature to create an authentic and enriching wellness experience.</p>
            </div>
        </div>
    </div>
{% endblock %}
