{% extends 'base.html.twig' %}

{% block title %}Payment Failed{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-danger text-center" role="alert">
            <h1>Payment failed! 😞</h1>
            <p>Your payment could not be processed. Please try again or choose another payment method. 🛑</p>
        </div>
    </div>
{% endblock %}
