{% extends 'base.html.twig' %} {% block title %}Update Product{% endblock %} {% block body %}
<div class="rom my-4">
    <div class="col-md-8 mx-auto">
        <div >
            <div class="card-header" style="background-color: #f9ef98; align-items: center;justify-content: center;display: flex;">
                <b> Update Product </b>
            </div>
            <div class="card-body">
                {{form(form)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}